.estilo-negro {
  background-color: #1e1e1e;
  color: #bbbbbb;
  font-family: 'Helvetica Neue', sans-serif;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(255,255,255,0.05);
  min-height: 180px;
}
header {
  background-color: #1d1d1d;
  color:aliceblue;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}
body{
  background-color: violet;
}
h1{
  color:aliceblue;
  font-size: 60px;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.entradilla{
  color:aliceblue
  font-size 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:aliceblue;
}
.card-title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:aliceblue;
}
.btn{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:aliceblue;
}
.modal-body{
  
}
.modal-title{

}
.modal-footer{

}